.aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

.officerContainer {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.summary h2 {
  font-size: 2rem;
  margin-top: 0;
}
