.layout{
    display:flex;
    flex-direction: row;
    /* justify-content: space-between; */
    
}
.stick {
    /* position: fixed;
    top: 0;
    left: 0; */
    margin-top: 0px;
    background-color: #F4F4F4;
}