.navContainer{
    background-color: #F4F4F4;

    width: 350px;
    height: 750px;

}
.navContainerSmaller{
    display: flex;
    flex-direction: column;

    margin: 10%;
}

.navLinks{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    height: 100px;
}