.navContainer{
    background-color: #F4F4F4;

    width: 100%;
    height: 90px;

}
.navContainerSmaller{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.navLinks{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    /* height: 100px; */
}
.navBlurb{
    color: grey;
}