.link{
    display:flex;
    flex-direction: row;

    width: 100px;
    /* height: 90px; */

    color: #8FA4B3;

    text-decoration: none;

    display:flex;
    justify-content: center;

    font-size: large;

}

.link:hover{
    background-color: #C7DDED;
    color: white;
    cursor: pointer;

    /* font-size: larger; */
}