.navContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 75px;

}

.navLinks{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    height: 100%;

    /* height: 100px; */
}
.navBlurb{
    color: grey;
}